
.list-message ul li {
    background: #00a3c8;
    color:white;
    padding:20px 0px;
}
.message {
    margin-left:10px;
}
.date {
    float:right;
}
.list-btn {
    float:right;
    margin-top:-10px;
    margin-right: 20px;
}
.list-btn button{
    margin-left:5px;
}
.container {
    width:60%;
}
#addForm {
    width:60%;
}
#addForm input {
    margin-left:15%;
    float:left;
    width:65%;
}
#addForm button {
    float:left;
}
#alertForm {
    width:100%;
   
    color:white;
    }
#alertForm form {
    border:1px solid black;
    padding-top:9px;
    padding-bottom:25px;
    background: #00a3c8;
    border-radius: 5px;
    width:60%;
}
#alertForm span {
    margin-left:15%;
    float:left;
    width:60%;
}
#alertForm button {
    margin-top:-9px;
    float:left;
    margin-left:5px;
}