<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div id="addForm" class="input-group mb-3">
        <form action="">
              <input type="text" class="form-control" [(ngModel)]="valueMessage" #txtMessage name="txtMessage" placeholder="Something clever..">
              <button class="btn btn-primary" (click)="add(txtMessage.value)" type="button">+</button>  
              <button class="btn btn-primary" (click)="clear()" type="button">Clear</button> 
            </form> 
      </div>
      <div [ngStyle]="{display:displayAlert}" id="alertForm" class="input-group mb-3">
        <form action="">
              <span>Message Da Co ban co muon them ko?</span>
              <button class="btn btn-danger" (click)="addTwo(false,txtMessage.value)" type="button">Khong</button>  
              <button class="btn btn-success" (click)="addTwo(true,txtMessage.value)" type="button">Co</button> 
            </form> 
      </div>
  <div class="row">
      <div class="col-md-10 list-message">
        <h2>List...</h2>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let message of listMessage">
              <span class="message">{{message.content}}</span>   
              <div class="list-btn">
                <button (click)="addToComplete(message.content,message.date)" class="btn btn-success">complete</button>
                <button (click)="editMessage(message.content,message.date)" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button (click)="delete(message.content,message.date)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
              <span class="date">{{message.date|date:'medium'}}</span>
            </li>
        </ul>
      </div>
      <div class="col-md-10 list-message-complete">
        <h2 *ngIf="messageComplete.length>0">List Complete...</h2>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let message of messageComplete">
              <span class="message">{{message.content}}</span>   
              <div class="list-btn">
                <button (click)="addToComplete(message.content,message.date)" class="btn btn-success">complete</button>
                <button (click)="editMessage(message.content,message.date)" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button (click)="delete(message.content,message.date)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
              <span class="date">{{message.date|date:'medium'}}</span>
            </li>
        </ul>
      </div>
  </div>
</div>
